.dial {
	width:500px;
	height:500px;
	position:relative;
	color:white;
}

.dialTitle {
    position: absolute;
    text-align: center;
	font-size:25px;
    bottom: 0px;
    width: 100%;
}
.dial canvas {
		position:absolute;
}

.dialNeedle {
    position: absolute;
    top: 50px;
    left: 10px;
    transform-origin: 260px 46.5px;
    transition: 0.5s;
    transform: rotate(40deg);
} 
